<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a user</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        .form {
            width: 500px;
            margin: 0 auto;
            padding-top: 100px;

        }

        .input-group {
            padding: 10px;
        }

        .button {
            margin: 10px;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: coral;
        }

        .table-container {
            padding: 15px 20px;
        }

        .title {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        .d-none {
            display: none;
        }
    </style>

</head>

<body>
    <%= JSON.stringify(userEdit) %>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">create user</a>

    </div>
    <div class="form">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update a user</legend>
                <div class="input-group d-none">
                    
                    <label>Id: </label>
                    <input type="text" name="userId" value="<%= userEdit.id %>">
                </div>
                <div class="input-group">

                    <label>email: </label>
                    <input type="text" name="email" value="<%= userEdit.email %>">
                </div>
                <div class="input-group">
                    <label>name: </label>
                    <input type="text" name="myname" value="<%= userEdit.name %>">
                </div>
                <div class="input-group">
                    <label>city: </label>
                    <input type="text" name="city" value="<%= userEdit.city %>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>


</body>

</html>